.item{
    background-color: rgb(194, 148, 194);
    height: 20rem;
    width: 20rem;
    color: rgb(32, 6, 33);
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
}

.verde{
    background-color: rgb(43, 5, 57);
}