.div{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 3rem;
    padding: 10px;
    background-color: rgb(224, 155, 224);
}

.img{
    overflow: hidden;
    width: 100%;
    border-radius: 30%;
}